body {
    background-color: rgb(1, 1, 31);
    color: white;
}

#page-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#planet-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.planet-card {
    width: 25%;
    margin: 1.5%;
    text-align: center;
    border: 3px solid rgb(34, 65, 114);
    background-color: black;
}